:root {
    --color-text: black; /* black */
    --color-bg: ghostwhite; /* ghostwhite */
    --color-section: whitesmoke; /* whitesmoke */
    --color-section-shadow: #e6e6e6; /* #e6e6e6 */
    --color-subsection: white; /* white */
    --color-subsection-shadow: lightgrey; /* lightgrey */
    --color-button-darkshadow: silver; /* silver */
    --color-highlight: #c1e5f6;
    --color-highlight-shadow: skyblue;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: sans-serif;
}

h1, h2 {
    /*background-color: red;*/
    text-align: center;
    margin: 10px;
}

h3 {
    text-align: center;
    font-style: italic;
    font-size: 12pt;
    margin: 5px;
}

img {
    display: flex;
    border-radius: 10px;
    box-shadow: 3px 3px var(--color-subsection-shadow);
    max-width: min(100%, 600px);
    max-height: 400px;
    margin: 5px;
    align-self: center;
    flex: 0, 2;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.caption {
    text-align: center;
    font-style: italic;
}

.wrapper {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    background-color: var(--color-section);
    width: 100%;
    height: fit-content;
    box-shadow: 5px 5px var(--color-section-shadow);
    border-radius: 10px;
    margin: 0px 0px 20px 0px;
}

.buttons {
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}

.button, .button-sel, .ext-button {
    background-color: var(--color-subsection);
    border-radius: 5px;
    box-shadow: 3px 3px var(--color-subsection-shadow);
    margin: 5px;
    padding: 5px;
    justify-self: center;
}

.button-sel {
    background-color: var(--color-section-shadow);
    box-shadow: 2px 2px var(--color-button-darkshadow);
}

.ext-button {
    background-color: var(--color-section);
    box-shadow: 3px 3px var(--color-section-shadow);
}

.button:hover, .ext-button:hover {
    background-color: var(--color-highlight);
    box-shadow: 4px 4px var(--color-highlight-shadow);
}

.section_box {
    background-color: var(--color-section);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-evenly;
    margin: 10px;
    padding: 0px;
    box-shadow: 5px 5px var(--color-section-shadow);
}

.outer_box, .outer_box_rev {
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-evenly;
    margin: 20px;
}

.outer_box_rev {
    flex-direction: row-reverse;
}

.inner_box {
    background-color: var(--color-subsection);
    border-radius: 10px;
    max-width: 600px;
    height: fit-content;
    padding: 10px 20px;
    margin: 10px;
    align-self: center;
    box-shadow: 5px 5px var(--color-subsection-shadow);
}

.image_box {
    display: flex;
    flex-direction: column;
    background-color: var(--color-subsection);
    border-radius: 10px;
    height: fit-content;
    padding: 5px;
    align-self: center;
    box-shadow: 5px 5px var(--color-subsection-shadow);
    margin: 10px;
}

@media screen and (max-width: 1000px) {
    .outer_box, .inner_box, .outer_box_rev {
        width: auto;
        flex-direction: column;
    }
}
