body {
    background-color: whitesmoke;
    font-family: sans-serif;
}

h1, h2 {
    text-align: center;
}

img {
    border-radius: 10px;
    box-shadow: 5px 5px lightgrey;
}

.wrapper {
    /*background-color: red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.outer_box {
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: space-evenly;
}

.inner_box {
    background-color: white;
    border-radius: 10px;
    width: 750px;
    height: fit-content;
    padding: 10px 20px;
    align-self: center;
    box-shadow: 5px 5px lightgrey;
}

@media (max-width: 840px) {
    .outer_box, .inner_box { width: auto; }
}
